<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>
    <form class="modal-content animate" #pform="ngForm" (ngSubmit)="verify()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
     
    </div>
    <h3 class="text-center"><b>Reset New Password </b></h3>

    <div class="container">
      <label for="uname"><b>Enter Old Password</b></label>
      <input type="email" [(ngModel)]=loginStudent.emailAddress name="emailAddress" placeholder="Enter Username" name="uname" required>

      <div class="container">
        <label for="uname"><b>Enter New Password</b></label>
        <input type="email" [(ngModel)]=loginStudent.emailAddress name="emailAddress" placeholder="Enter Username" name="uname" required>  

            
      <button type="submit" [routerLink]="['/home-page']">SUBMIT</button>
      
    </div> 

    
  </form>



</body>
</html>